.container-breeds {
  background-color: #fff;
  width: 680px;
  height: 100%;
  border-radius: 8px;
  padding: 20px;
  &__buttons {
    display: flex;
    justify-content: center;
    font-family: 'Jost';
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    color: #8c8c8c;
    padding: 10px;
    fill: #8c8c8c;
    & button:hover {
      background: #fbe0dc;
      fill: #ff868e;
      color: #ff868e;
    }
  }
  &__paginator-prev {
    width: 122px;
    height: 40px;
    background: #f8f8f7;
    border-radius: 10px;
    margin-right: 40px;
    & svg {
      margin-right: 10px;
    }
  }
  &__paginator-next {
    width: 122px;
    height: 40px;
    background: #f8f8f7;
    border-radius: 10px;
    & svg {
      margin-left: 10px;
    }
  }
}
