.home-page {
  height: 100vh;
  // height: 960px;
  display: flex;
  // height: 100vh;
  // justify-content: center;
  // align-items: center;
  margin-left: auto;
  margin-left: auto;
  //   color: #010101;
}
