.container-rigt-page {
  width: 100%;
  height: 100%;
  // height: 900px;
  padding: 30px 30px 30px 80px;
}

.home-page__right-part {
  background-color: #fbe0dc;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  & img {
    position: absolute;
    right: 20px;
    top: 0;
    width: 50%;
    height: 100vh;
  }
}
