<div class="home-page">
  <section class="home-page-left-part">
    <h2 class="visually-hidden">section with starting navigation</h2>
    <div class="home-page__logo">
      <svg width="24" height="24">
        <use href="./pictures/svg/symbol-defs.svg#icon-logo"></use>
      </svg>
      <span>PetsPaw</span>
    </div>
    <div class="home-page-nav">
      <h1 class="home-page-nav__title">Hi intern!</h1>
      <p class="home-page-nav__greetings">Welcome to MI 2022 Front-end test</p>
      <p class="home-page-nav__impulse">Lets start using The Cat API</p>
      <nav class="home-page-nav__container">
        <ul class="home-page-nav__list">
          <li class="home-page-nav__item">
            <div class="home-page-nav__card v">
              <img src="./pictures/webp/vote-table.webp" alt="page vote table" width="100" />
            </div>
            <button class="home-page-nav__btn" type="button" data-action="voting">VOTING</button>
          </li>
          <li class="home-page-nav__item">
            <div class="home-page-nav__card b">
              <img src="./pictures/webp/pet-breeds.webp" alt="page pet " width="100" />
            </div>
            <button class="home-page-nav__btn" type="button" data-action="breeds">BREEDS</button>
          </li>
          <li class="home-page-nav__item">
            <div class="home-page-nav__card g">
              <img src="./pictures/webp/images-search.webp" alt="page phon" width="100" />
            </div>
            <button class="home-page-nav__btn" type="button" data-action="gallery">GALLERY</button>
          </li>
        </ul>
      </nav>
    </div>
  </section>
  <section class="container-rigt-page">
    <h2 class="visually-hidden">section with starting page</h2>
    <div class="home-page__right-part">
      <img src="./pictures/webp/girl-and-pet-11x.webp" alt="page phon" />
    </div>
  </section>
  <section id="container-right" class="container-right visually-none">
    <!-- container-search visually-none -->
    <!-- <section class="navigation visually-none">
      <h2 class="visually-hidden">section with search navigation</h2>
      <form class="navigation__form">
        <input class="input-search" type="text" placeholder="Search for breeds by name" />
        <button class="button-search" type="button">
          <svg width="20" height="20">
            <use href="./pictures/svg/symbol-defs.svg#icon-search-white-20"></use>
          </svg>
        </button>
      </form>
      <ul class="list-likes">
        <li class="navigation__button-voting">
          <svg width="30" height="30">
            <use href="./pictures/svg/symbol-defs.svg#icon-Vector-Stroke"></use>
          </svg>
        </li>
        <li class="navigation__button-voting">
          <svg width="30" height="30">
            <use href="./pictures/svg/symbol-defs.svg#icon-Vector-348-Har"></use>
          </svg>
        </li>
        <li class="navigation__button-voting">
          <svg width="30" height="30">
            <use href="./pictures/svg/symbol-defs.svg#icon-Vector-Strokedis"></use>
          </svg>
        </li>
      </ul>
    </section>
    -->

    <!-- container-voting -->
    <!-- <section class="container-voting ">
      <h2 class="visually-hidden">section with voting</h2>
      
      <div class="container-voting__wrap-head">
        <button class="button-back">
          <svg width="20" height="20">
            <use href="./pictures/svg/symbol-defs.svg#icon-arrow-left-1"></use>
          </svg>
        </button>
        <div class="container-voting__current">VOTING</div>
      </div>
      <div class="container-voting__page">
        <img src="" alt="cat" />
        <div class="container-voting__wrap-btn-add">
          <button class="btn-add likes">
            <svg width="30" height="30">
              <use href="./pictures/svg/symbol-defs.svg#icon-Vector-Stroke"></use>
            </svg>
          </button>
          <button class="btn-add favourites">
            <svg width="30" height="30">
              <use href="./pictures/svg/symbol-defs.svg#icon-Vector-348-Har"></use>
            </svg>
          </button>
          <button class="btn-add dislikes">
            <svg width="30" height="30">
              <use href="./pictures/svg/symbol-defs.svg#icon-Vector-Strokedis"></use>
            </svg>
          </button>
        </div>
      </div>
    </section> 
    <!-- container-breeds -->
    <!-- <section class="container-breeds visually-none">
      <h2 class="visually-hidden">section with breeds selected</h2>
      <div class="container-voting__wrap-head">
        <button class="button-back">
          <svg width="20" height="20">
            <use href="./pictures/svg/symbol-defs.svg#icon-arrow-left-1"></use>
          </svg>
        </button>
        <div class="container-voting__current">BREEDS</div>
        <select class="select-breeds" id="size" name="size">
          <option value="xs">Extra Small</option>
          <option value="s">Small</option>
          <option value="m" selected>Medium</option>
          <option value="l">Large</option>
        </select>
        <select class="select-limit-items" id="size" name="size">
          <option value="xs">limit:</option>
          <option value="s">limit:</option>
          <option value="m" selected>limit:</option>
          <option value="l">limit:</option>
        </select>
        <button class="button-sorting">
          <svg width="20" height="20">
            <use href="./pictures/svg/symbol-defs.svg#icon-up"></use>
          </svg>
        </button>
        <button class="button-sorting">
          <svg width="20" height="20">
            <use href="./pictures/svg/symbol-defs.svg#icon-down"></use>
          </svg>
        </button>
      </div>
    </section> -->
    <!-- container-gallery -->
    <!-- <section class="container-gallery visually-none">
      <h2 class="visually-hidden">section with gallery cat</h2>
      <div class="container-voting__wrap-head">
        <button class="button-back">
          <svg width="20" height="20">
            <use href="./pictures/svg/symbol-defs.svg#icon-arrow-left-1"></use>
          </svg>
        </button>
        <div class="container-voting__current">GALLERY</div>
        <button class="btn-upload">
          <svg width="16" height="16">
            <use href="./pictures/svg/symbol-defs.svg#icon-upload"></use></svg
          >UPLOAD
        </button>
      </div>
      <form class="selecr-form">
        <div class="selecr-form__wrap">
          <label for="order">ORDER</label>
          <select class="selecr-form__order" id="size" name="order">
            <option value="xs">Extra Small</option>
            <option value="s">Small</option>
          </select>
          <label for="order">BREED</label>
          <select class="selecr-form__order" id="size" name="order">
            <option value="xs">Extra Small</option>
            <option value="s">Small</option>
          </select>
        </div>
        <div class="selecr-form__wrap">
          <label for="order">TYPE</label>
          <select class="selecr-form__order" id="size" name="order">
            <option value="xs">Extra Small</option>
            <option value="s">Small</option>
          </select>
          <label for="order">LIMIT</label>
          <div class="selecr-form__last-select-wrap">
            <select class="selecr-form__order limit" id="size" name="order">
              <option value="xs">Extra Small</option>
              <option value="s">Small</option>
            </select>
            <button class="button-refresh">
              <svg width="20" height="20">
                <use href="./pictures/svg/symbol-defs.svg#icon-refr"></use>
              </svg>
            </button>
          </div>
        </div>
      </form>
    </section> -->
  </section>
</div>
